<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
/*      $(document).ready(function() {
        $("button").click(function() {
          $.ajax({
            dataType: "json",
            url: "/items.json",
            success: function(result) {
              $.each(result, function(i, item) {
                //alert(JSON.stringify(item));
                for (var i = 0; i < item.length; i ++ ) {
                  $("div").append(item[i].id + "</br>"
                  + item[i].name + "</br>"
                  + item[i].description + "</br>"
                  + "<br></br>");
                }
              });
            }
          });
        });
      });
*/
      $(window).load(function(){
        $('#search').keyup(function(){
            var searchField = $('#search').val();
            var regex = new RegExp(searchField, "i");
            var output = '<div class="row">';
            var count = 1;
            $.getJSON('/items.json', function(data) {
              $.each(data, function(key, val){
                for (var x = 0; x < val.length; x ++ ) {
                if ((val[x].name.search(regex) != -1) || (val[x].description.search(regex) != -1)) {
                  output += '<div class="col-md-6 well">';
                  output += '<div class="col-md-7">';
                  output += '<h5>' + val[x].name + '</h5>';
                  output += '<p>' + val[x].description + '</p>'
                  output += '</div>';
                  output += '</div>';
                  if(count%2 == 0){
                    output += '</div><div class="row">'
                  }
                  count++;
                }
              }
              });
              output += '</div>';
              $('#results').html(output);
            });
        });
      });
    </script>
  </head>
  <body>
    <form role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="search" placeholder="Instant search">
            </div>
    </form>
<div id="results"></div>
  </body>
</html>
