{% extends "main.html" %}
{% block title %}Sports catalog{% endblock %}
{% block head %}
  <script type=text/javascript src="{{
    url_for('static', filename='js.js') }}"></script>
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <strong>{{ message }}</strong>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-10 col-md-2">
          <a class="btn btn-custom" href='{{url_for('new_category')}}' role="button">Create new category</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <strong>CATEGORIES</strong>
          <ul class="nav nav-pills nav-stacked">
            {% for c in categories %}
            <li><a href='{{url_for('show_items', category_id=c.id)}}'>{{ c.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-10">
          <strong>ITEMS</strong>
          <div class="row">
            <div class="col-md-4">
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="search" placeholder="Search items">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="results"></div>
            </div>
          </div>
          <div class="row">
            {% for i in items %}
            <div class="col-md-3">
              {% for c in categories %} {% if c.id == i.category_id %}
              <a href='{{url_for('show_item', category_id=c.id, items_id=i.id)}}'>
              {% endif %}
              {% endfor %}
                <div class="panel panel-default">
                  <div class="panel-body text-center">
                    <img src="{{ i.url }}" alt="Item image" class="img-rounded" height="100" width="100"></br>
                    {{ i.name }}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}
