<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports catalog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      body {
        padding-top: 70px;
      }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand active" href="/">Sports catalog</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger-navigation">
            <span class="sr-only">Navigation toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="hamburger-navigation">
          <ul class="nav navbar-nav navbar-right" role="menu">
            <li><a href="#loginModal" data-toggle="modal">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div id="loginModal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div class="modal-title text-center alert alert-info">Login</div>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="post" action="reset.php">
                <div class="form-group has-feedback">
                  <label for="email" class="control-label col-md-2">
                    Email:
                  </label>
                  <div class="col-md-8">
                    <input type="email" name="uemail" id="uemail" required="required" class="form-control" placeholder="Email address" />
                  </div>
                  <span class="glyphicon form-control-feedback"></span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-10 col-md-2">
          <a class="btn btn-custom" href='{{url_for('newCategory')}}' role="button">Create new category</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <strong>CATEGORIES</strong>
          <ul class="nav nav-pills nav-stacked">
            {% for c in categories %}
            <li><a href='{{url_for('showItems', category_id=c.id)}}'>{{ c.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-10">
          <strong>ITEMS</strong>
          <div class="row">
            {% for i in items %}
            <div class="col-md-3">
              {% for c in categories %}
              <a href='{{url_for('showItem', category_id=c.id, items_id=i.id)}}'>
                {% endfor %}
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="{{ i.url }}" alt="Item image" class="img-rounded" height="100" width="100"></br>
                    {{ i.name }}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>

</html>
