{% extends "main.html" %}
{% block title %}Delete item - Sports catalog{% endblock %}
{% block head %}
  <style type="text/css">
    body {
      padding-top: 100px;
    }
  </style>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class='form-horizontal' method='post' action='{{url_for('delete_item', category_id=category_id, items_id=i.id)}}'>
                <div class="form-group has-feedback">
                  <div class="text-center">
                    <h4>Are you sure you want to delete {{i.name}}?</h4>
                  </div>
                </div>
                <div class="form-group">
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">Delete</button>
                </div>
                <div class="form-group">
                  <a href='{{url_for('show_items', category_id=category_id)}}' class='btn btn-warning col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4' role='button'>Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
