{% extends "main.html" %}
{% block title %}Edit category - Sports catalog{% endblock %}
{% block head %}
  <style type="text/css">
    body {
      padding-top: 100px;
    }
  </style>
{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center">
              <strong>Edit category</strong>
            </p>
            <form class='form-horizontal' method='post' action='{{url_for('editCategory', category_id=i.id)}}'>
              <div class="form-group has-feedback">
                <label for="name" class="control-label col-md-4">
                  Name:
                </label>
                <div class="col-md-5">
                  <input type="text" name="name" id="name" required="required" class="form-control" value="{{ i.name }}" />
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">Edit</button>
              </div>
              <div class="form-group">
                <a href='{{url_for('showItems', category_id=i.id)}}' class='btn btn-warning col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6' role='button'>Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
