<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File not found</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
    <style>
      body {
        padding-top: 100px;
      }

    </style>
  </head>

  <body>
    <div class="container text-center">
      <h1>404</h1>
      <p>
        <strong>File not found</strong>
      </p>
      <p>The site configured at this address does not contain the requested file.</p>
    </div>
  </body>

</html>
