{% extends "main.html" %}
{% block title %}New -tem - Sports catalog{% endblock %}
{% block imageLink %}<img src="{{creator.picture}}" alt="Profile picture" class="img-circle" height="50" width="50">{% endblock %}
{% block link %}<a href="/logout">Logout</a>{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center">
              <strong>{{ category_name }}</strong>
            </p>
            <form class='form-horizontal' method='post' enctype='multipart/form-data' action='{{url_for('newItem', category_id=category_id)}}'>
              <div class="form-group has-feedback">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                  <input type="text" name="name" id="name" required="required" class="form-control" autocomplete="off" placeholder="Item name" />
                </div>
              </div>
              <div class="form-group has-feedback">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                  <input type="text" name="description" id="description" required="required" class="form-control" autocomplete="off" placeholder="Item description" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                  <input type="file" name="file" id="file" />
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn btn-primary col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">Create</button>
              </div>
              <div class="form-group">
                <a href='{{url_for('showItems', category_id=category_id)}}' class='btn btn-warning col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6' role='button'>Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
