/** {
   font-size: 15px;
}*/
.h-font{
  font-size: 20px;
}
a:hover, a:focus {
    color: #ff7a00;
}

.btn-grey {
  color: #3e3e3e;
  border-color: #3e3e3e;
}
.btn-grey:hover, .btn-grey:active {
  color: #0c7cd5;
  border-color: #0c7cd5;
}

.btn-custom {
  color: #0c7cd5;
  border-color: #0c7cd5;
}
.btn-custom:hover, .btn-custom:focus {
  color: #fff;
  background-color: #0c7cd5;
  border-color: #0c7cd5;
}
/*
.btn-custom:hover, .btn-custom:focus {
  color: #0c7cd5;
  border-color: #0c7cd5;
  background-color: #ecf2f7;
}
*/
/* navbar-default modified for custom style */
.navbar{
  	 background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #0c7cd5;
	box-shadow: 0 -3px inset;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	 color:#0c7cd5;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color:#0c7cd5;
}
.navbar-default .navbar-brand.active {
    color: #0c7cd5;
}
.navbar-default .navbar-brand:hover{
    color: #0c7cd5;
	box-shadow: 0 -3px inset;
}
